/* Hover Effects: more than 1024. */
@media only screen and (min-width: 1025px) {
	.single-product:hover {
		background-size: 110%;
	}
	.single-product:hover .product-info {
		background-color: rgba(0,0,0,0);
	}
	.scroll-indicator:hover {
		opacity: .5;
	}
	.single-product {
	    background-size: 100%;
	}
}

/* Large Layout: >1280px. */
@media only screen and (min-width: 1200px) {
	html {
		font-size: 17px;
	}
	.mainmenu li  a {
		font-size: 0.9412rem;
	}
}
/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.mainmenu li  a {
		font-size: 1rem;
	}
	header .container {
		width: 100%;
	}
	html {
		font-size: 16px;
	}
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 15px;
	}
	h1 {
		font-size: 3.067rem;
	}
	.mainmenu li a {
		font-size: 0.875rem;
	}
	.header-top-cart ul li a { font-size: 10px }
	.shop-cart i { font-size: 14px }
    .mainmenu li a { padding: 30px 10px }
	.is-sticky .mainmenu li a { padding: 20px 10px }

	.section-title p { width: 80% }
	.video-area iframe {
	    height: 410px;
	    margin-bottom: 40px;
	}
	.skills-area { padding-bottom: 40px }
	.single-skill { margin-bottom: 40px }
	.count-area { padding-bottom: 50px }
	.counter { margin-bottom: 30px }
	.team-area { padding-bottom: 50px }
	.single-team { margin-bottom: 30px }
	.pricing-area { padding-bottom: 50px }
	.single-pricing { margin-bottom: 30px }
	.single-blog { margin-bottom: 30px }
	.single-project-img { margin-bottom: 40px }
	.related-projects .single-work { margin-bottom: 20px }
	.footer-top-area { padding-bottom: 30px }
	.footer-widget { margin-bottom: 50px }
	.clients-area img {
	  height: 60px;
	}
	#home-carousel .item .button {
		float: none;
	}
	#home-carousel .item h2,
	#home-carousel .item p {
		text-align: center;
	}
	.team-area h4 {
    margin-top: 45px;
	}
	.mainmenu li  a {
		font-size: .88rem;
	}
	header .container {
		width: 100%;
	}
	.is-sticky .navbar-brand {
    padding: 12px 0;
	}
	.service-list li {
		font-size: .8rem;
	}
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
	h1 {
		font-size: 2.143rem;
	}
	.header-top-area { background: #fff none repeat scroll 0 0 }
	.navbar-default {
    padding: auto;
    min-height: 44px;
	}
	.navbar-brand {
		padding: 8px 0;
		color: #333 !important;
    height: 50px;
	}
	.is-sticky .navbar-brand {
		padding: 8px 0;
	}
	.mainmenu li a,
	.is-sticky .mainmenu ul.nav.navbar-nav li  a {
		color: #666 !important;
		font-size: 12px;
		padding: 15px;
		text-align: center;
	}
	#home-carousel .item p {
		font-size: 14px;
	}
	.section-title h2 {
		font-size: 2rem;
	}
	.section-title p {
		width: 100%;
	}
	.video-area iframe {
	    height: 195px;
	    margin-bottom: 30px;
	}
	.single-service { padding: 30px 15px 15px; }
	.single-service i { font-size: 45px }
	.single-service p { margin-bottom: 15px }
	.skills-area { padding-bottom: 50px }
	.single-skill { margin-bottom: 30px }
	.work-title > h4 { margin-top: 40px }
	.count-area { padding-bottom: 60px }
	.counter { margin-bottom: 20px }
	.team-area { padding-bottom: 60px }
	.single-team { margin-bottom: 20px }
	.pricing-area { padding-bottom: 50px }
	.single-pricing { margin-bottom: 30px }
	.single-blog { margin-bottom: 20px }
	.single-product { margin-top: 15px }
	.breadcrumb-main { height: 400px; }
	.breadcrumb-title { padding-top: 125px }
	.breadcrumb-title h2 { font-size: 28px }
	.single-project-img { margin-bottom: 40px }
	.related-projects .single-work { margin-bottom: 20px }
	.footer-top-area { padding-bottom: 30px }
	.footer-widget { margin-bottom: 50px }
	.copyright p { font-size: 12px }
	.single-tool, .single-client {
		width: 50%;
		padding: 0 15px;
		box-sizing: border-box;
		float: left;
	}
	.social-media {
		width: 50%;
		float: left;
	}
	.clients-area img {
	  height: 60px;
	}
	#home-carousel .item .button {
		float: none;
	}
	#home-carousel .item h2,
	#home-carousel .item p {
    text-align: center;
	}
	.shop-grid>div {
	  width: 100%;
	}
	.mainmenu ul li:last-child a {
    padding-right: 15px;
	}
	.team-area h4 {
    margin-top: 45px;
	}
	.navbar-brand .name,
	.navbar-brand .claim {
	    color: #000 !important;
	}
	.service-area div div.row {
	    display: flex;
	    flex-direction: column;
	}
	.single-service img {
    width: 130px;
	}
	.service-list li {
		font-size: .85rem;
	}
	.availability {
    top: 70px;
    right: 20px;
    width: 130px;
    height: 130px;
    padding-top: 30px;
	}
	.availability h2 {
		font-size: 1.43rem;
		margin-top: -3px;
	}
	.availability h4 {
	  font-size: 1rem;
		margin-top: -5px;
	}
	.availability h6 {
	  font-size: .85rem;
	}
	header p {
		margin-bottom: 15px;
	}
	.availablity-correct {
    position: relative;
    top: 29px;
	}
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#home-carousel .item .button {
		float: none;
	}
	#home-carousel .item h2,
	#home-carousel .item p {
		text-align: center;
	}
	.shop-grid>div {
	  width: 50%;
		float: left;
	}
	.mainmenu ul li:last-child a {
    padding-right: 15px;
	}
	.team-area h4 {
    margin-top: 45px;
	}
	.navbar-brand .name,
	.navbar-brand .claim {
	    color: #000 !important;
	}
	.single-service .head {
		width: 190px;
		float: left;
		padding-right: 15px;
		margin-right: 15px;
		border-right: 1px solid #DDD;
	}
	.single-service img {
    width: 130px;
	}
	.service-list {
    justify-content: flex-start;
    border-top: none;
    padding-top: 0;
	}
	.single-service a.read-more {
    width: 7.357rem;
    float: left;
    position: static;
    left: 0;
    margin-left: auto;
		float: right;
	}
	.single-service {
    padding: 15px;
	}
	.single-tool, .single-client {
    width: 25%;
	}
}
